.feedback-form {
  background-color: rgba(240, 244, 252, 0);
  margin-top: 6%;
  @media (max-width: 768px) {
    margin-top: 8%;
  }
  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: left;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-family: Rubik;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.44px;
      text-align: left;
      margin-top: 10px;
      margin-left: 28px;
    }
  }
  .MuiGrid-container{
    margin-top: 2%;
    @media (max-width: 768px) {
      margin-top: -7%;
    }
  }
  .desktop-only {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .MuiFormControl-root {
    margin-bottom: -8px;
    @media (max-width: 768px) {
      margin-bottom: -17px;
    }
    .MuiInputLabel-root {
      font-family: Fira Sans Condensed;
      font-size: 18px;
      font-weight: 300;
      line-height: 21.6px;
      text-align: left;
      color: rgba(239, 243, 255, 1);
      @media (max-width: 768px) {
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
      }
    }

    .MuiOutlinedInput-root {
      fieldset {
        border-color: rgba(239, 243, 255, 1);
        border-radius: 10px;
        padding: 0 25px;
        @media (max-width: 768px) {
            padding: 0 5px;
        }
      }
      &:hover fieldset {
        border-color: rgba(255, 255, 255, 0.32);
      }

      &.Mui-focused fieldset {
        border-color: rgba(255, 255, 255, 0.53);
      }

      input,
      textarea {
        color: rgba(239, 243, 255, 1);
      }
    }
  }

  .MuiTypography-root {
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    text-align: left;
  }
  .title-container {
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    @media (max-width: 768px) {
      margin-top: 50px;
    }

    .MuiButton-containedPrimary {
      font-family: Fira Sans Condensed;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: left;
      background: rgba(45, 118, 249, 1);
      width: 259px;
      border-radius: 50px;
      padding: 20px 45px;
      color: #fff;
      transition: background-color 0.3s ease;
      text-transform: none;

      &:hover {
        background-color: #1b5bbd;
      }
      @media (max-width: 768px) {
        width: 100%;
        padding: 15px;
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 17.7px;
        text-transform: uppercase;
        border-radius: 85px;
      }
    }
  }
  .consent-text-container {
    margin-top: 28px;
    margin-bottom: 7px;
  .MuiTypography-body2 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;
    text-align: center;
  }
    @media (min-width: 768px) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    background-color: rgba(37, 38, 49, 1);
    padding: 24px;
    margin-left: -24px;
    margin-right: -24px;
    .message {
      padding: 10px 0;
      margin-top: -10px;
    .MuiInputLabel-shrink {
      transition: 0.2s;
      transform: translate(15px, -2px);
      font-size: 10px;
    }
    }
  }
  .mobile-only {
    display: none;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }
}