.custom-navbar {
  margin-top: 4.2%;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    margin-top: 0;
    background: rgba(32, 33, 44, 1);
    z-index: 1050;
  }

  .navbar-brand {
    justify-content: center;
    @media (max-width: 768px) {
      svg {
        width: 93px;
        height: 19.58px;
        margin-left: 27px;
      }
    }
  }

  .custom-toggler {
    border: none;
    background: none;
    z-index: 1100;
    position: relative;
    margin-right: 10px;

    &:focus {
      outline: none;
      box-shadow: none;
      background: none;
    }
    .crest {
      margin-right: 10px;
    }
  }
  @keyframes openFromCircle {
    0% {
      clip-path: circle(0% at 100% 0);
      opacity: 0;
    }
    100% {
      clip-path: circle(150% at 100% 0);
      opacity: 1;
    }
  }

  @keyframes closeToCircle {
    0% {
      clip-path: circle(150% at 100% 0);
      opacity: 1;
    }
    100% {
      clip-path: circle(0% at 100% 0);
      opacity: 0;
    }
  }
  .navbar-collapse {
    margin-left: 9.6%;
    @media (max-width: 1050px) {
      margin-left: 0;
    }
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(36, 37, 47, 1);
      padding: 20px;
      overflow-y: auto;
      z-index: 1049;
      visibility: hidden;
      clip-path: circle(0% at 100% 0);
      opacity: 0;

      &.show {
        visibility: visible;
        animation: openFromCircle 0.6s ease-in-out forwards;
      }

      &.hide {
        visibility: visible;
        animation: closeToCircle 0.6s ease-in-out forwards;
      }
    }
  }

  .nav-link {
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    margin-left: 47px;

    &:hover {
      color: #717195;
    }
    @media (max-width: 1050px) {
      margin-left: 15px;
    }

    @media (max-width: 768px) {
      display: block;
      margin-left: 5px;
      padding-top: 20px;
      color: rgba(238, 243, 255, 1);
    }
  }

  .nav-link.active {
    color: #a1a1a1;
  }

  .navbar-nav {
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  #basic-navbar-nav {
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
  }
  .contact-info {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-top: 47px;
      margin-left: 5px;
      margin-right: 5px;
      border-top: 1px solid rgba(43, 45, 58, 1);
      border-bottom: 1px solid rgba(43, 45, 58, 1);

      p {
        color: rgba(154, 168, 186, 1);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.51px;
        text-align: left;
      }
      .cont {
        margin-top: 38px;
        font-size: 18px;
      }
    }
  }

  @media (min-width: 768px) {
    .custom-toggler {
      display: none;
    }
  }
}